DATABASE_URL="file:nexora.db"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
AUTH_SECRET="replace-with-a-strong-random-secret-generate-using-openssl-rand-hex-32"
R2_ACCOUNT_ID=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET_NAME="nexora"
OPENAI_API_KEY=""
REDIS_URL="redis://localhost:6379"
